*{
    padding: 0;
    margin: 0;
}

body{
    background:linear-gradient(135deg, black 30%, #4d0000);
    background-color: black;
}

.card{ 
    margin-top: 10vh;
    margin-left: 13vw;
    width: 300px; 
    height: 550px;
    background-color: #0c0c0c;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(100, 100, 100);
    float:left;
    text-align: center;
    background:linear-gradient(135deg, black 70%, #4d0000);
}

.card-img-top{
    width: 100%;
    height: 400px;
}

.btnDetalhesFilme{
    border-radius: 5px;
    border: 2px solid rgb(100, 100, 100);
    background-color: rgb(0, 0, 0);
    color:white;
    margin-top: 15px;
    width:75px;
    height:35px;
}

.btnDetalhesFilme:hover{
    background-color: #4d0000;
}

h3{
    color: white;
}

h5{
    color: white;
}

.divimg{
    width: 300px; 
    height: 450px;
    display: inline-block;
    float:left;
    margin-left: 11vw;
}

.descricoes{
    margin-left: 7vw;
    display: inline-block;
    margin-bottom: 25px;
}

.descricaofilme{
    margin-top: 100px;
}

.card-text{
    margin-top: 25px;
}